$body-color: #000;
$primary: #92278f;
$secondary: #E6E6E6;
$success: #19a68a;
$info: #586e8e;
$dark: #002855;
$warning: #f3901d;
$danger: #dc3545;

$border-radius: 0.2rem;
$border-radius-sm: 0.2rem;
$border-radius-lg: 0.25rem;

$font-size-base: 1rem !default;
$h1-font-size: $font-size-base * 1.25 !default;
$h2-font-size: $font-size-base * 1.5 !default;
$h3-font-size: $font-size-base * 1.25 !default;
$h4-font-size: $font-size-base !default;
$h5-font-size: $font-size-base !default;
$h6-font-size: $font-size-base !default;